DATABASE_URL="your database url goes here"
CLIENT_URL="your fe url goes here"
SERVER_URL="http://localhost:3000"
NODE_ENV="Your environment"

ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SCRET=

SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_USER="Ten tai khoan mail"
SMTP_PASS="Mat khau mail"